<form class="new-task">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" id="title" name="title" [(ngModel)]="newTask.title" [disabled]="isProcessing">
    <mat-hint>Enter title for task</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Deadline</mat-label>
    <input matInput [matDatepicker]="picker" type="text" id="deadline" name="title" [(ngModel)]="newTask.deadline" [disabled]="isProcessing">
    <mat-hint>Enter deadline for the task</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="form-group">
    <button mat-raised-button color="primary"  (click)="addTask()" [disabled]="!canAddTask()">
      {{ isProcessing ? 'Processing...' : 'Add Task' }}
    </button>
    <button mat-stroked-button [disabled]="!canArchiveCompleted()" color="accent" type="button" (click)="archiveCompleted()">Archive completed tasks</button>
  </div>
</form>

<div class="container">
  <form class="new-task"></form>

  <div class="tasks">
    <mat-card [ngClass]="{'completed' : task.completed}" *ngFor="let task of tasks">
      <mat-card-header>
        <mat-card-title>
          {{task.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="deadline">
        <span *ngIf="task.deadline">{{task.deadline}}</span>
      </mat-card-content>
      <mat-card-actions align="end">
        <mat-checkbox labelPosition="after" [(ngModel)]="task.completed" (change)="handleChange(task)">Done</mat-checkbox>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
