#title {
  text-align: center;
  font-size: 4rem;
  color: #6969B3;
  margin: 0;
  padding: 0;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  gap: 5px;
  flex-direction: row;
}

#hans {
  display: flex;
  position: relative;
  margin: 10px;
  border: 1px solid black;
  height: auto;
  width: auto;
}

#main {
  position: relative;
  min-height: 99vh;
}

.router-outlet {
  padding-bottom: 4rem;
}

#footer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: #6969B3;
  border-radius: 10px;
  padding-left: 5px;
  justify-content: center;
  align-content: center;
  color: whitesmoke;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  gap: 5px;
}

.spacer {
  flex: 1 1 auto;
}
.btn {
  padding: 0 14px;
  margin: 10px;
}


