<div id="main">
  <header class="header">
    <div class="header-div">
      <h1>Backend-Based Task ManagerINATOR</h1>
    </div>
    <div id="nav">
    <div class="btn">
      <a href="/tasks">TODO list</a>
    </div>
    <div class="btn">
      <a href="/archive">Archive</a>
    </div>
    </div>
    <img id="hans" src="https://static.wikia.nocookie.net/phineasandferb/images/5/5d/Doofenshmirtz_Portrait.jpg" alt="Heinz Doofenshmirtz">
  </header>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>

  <footer id="footer">Mikołaj Jóźwik</footer>

</div>
