<div id="main">
  <mat-toolbar>
    <span id="title"><h1>Backend-Based Task ManagerINATOR</h1></span>
    <span class="spacer"></span>
    <mat-chip-listbox>
      <mat-chip-option class="btn" routerLink="/tasks" routerLinkActive="active" #rlat="routerLinkActive" [selected]="rlat.isActive">TODO list</mat-chip-option>
      <mat-chip-option class="btn" routerLink="/archive" routerLinkActive="active" #rlaa="routerLinkActive" [selected]="rlaa.isActive">Archive</mat-chip-option>
    </mat-chip-listbox>
  </mat-toolbar>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>

  <footer id="footer">Mikołaj Jóźwik</footer>

</div>
