<div class="container">
  <h2>Archive</h2>
  <div class="tasks">
    <mat-card *ngFor="let task of archive">
      <mat-card-header>
        <mat-card-header>{{task.title}}</mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <span *ngIf="task.deadline">{{task.deadline}}</span>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="warn" (click)="delete(task)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

